div.page-banner {
@include stdFlex(column, nowrap, center);

    width: 100vw;
    height: 90vh;
    background: $colorPrimary;
    overflow: hidden;
    position: relative;

    .particles {
        height: 100%;
        width: 100%;
        position: absolute;
    }

    .content {

        display: flex;
        flex-wrap: nowrap;
        align-items: stretch;
        align-content: center;

        height: 100%;
        width: 100%;
        max-width: 1400px;
        position: absolute;
        bottom: 0;

        .elem {
        @include stdFlex(column, nowrap, center);

            flex-grow: 1;

            &.text {
            @include stdText($colorMainLight, center);

                line-height: 220%;

                h4 {letter-spacing: 2px}
                h2 {
                    color: black;
                    span {font-weight: 600;}
                }
            }

            &.photo {
            @include stdFlex(row, nowrap, center);

                align-items: flex-end;
                align-content: flex-end;
            }

            img {
                max-height: 100%;
                max-width: 100%;
            }
        }
    }
}

/*   *   *   *   *   *   *   *   *   *   *   *   *   *   *   *   *   *   *   *   */
/*  Breakpoints */
    
@media (max-width: 991px) {

    div.page-banner {

        .content {
            flex-direction: column;
            justify-content: space-between;
        }
        
        .elem {flex-grow: 1;}

        h2 {font-size: 42px; text-shadow: 0 0 12px $colorMainDark;}
        h4 {font-size: 30px; text-shadow: 0 0 12px $colorMainDark;}

    }

}
    
/*   *   *   *   *   *   *   *   *   *   */
    
@media (min-width: 992px) and (max-width: 1199px) {

    div.page-banner {

        .content {
            flex-direction: row;
            justify-content: space-around;
        }

        .elem {flex-grow: 1;}

        h2 {font-size: 52px; text-shadow: 0 0 12px $colorMainDark;}
        h4 {font-size: 44px; text-shadow: 0 0 12px $colorMainDark;}

    }
    
}

/*   *   *   *   *   *   *   *   *   *   */
    
@media (min-width: 1200px) {

    div.page-banner {

        .elem {flex-basis: 40%;}

        h2 {font-size: 56px; text-shadow: 0 0 20px $colorMainDark;}
        h4 {font-size: 48px; text-shadow: 0 0 20px $colorMainDark;}

    }
    
}