header.page-menu {
@include stdFlex(row, nowrap, space-between);
@include stdTransition();

    position: sticky;
    right: 0;
    left: 0;
    top: 0;
    
    background: white;
    border-bottom: 1px solid lightgrey;
    box-shadow: 0 5px 10px -5px $colorSecondary;
    width: 100vw;
    z-index: 100;
    
    .elem {
        font-size: larger;
        font-weight: 400;
        padding: $paddingMedium;
    }

    .logo img {height: 64px;}

    .navi .links {
    @include stdFlex(row, nowrap, space-between);

       list-style: none;
       font-size: large;
       font-weight: 600;

        li {
            text-align: center;
            margin: 0 2vw;

            details {

                position: relative;

                summary {outline: none};

                ul {
                @include stdBorder(darken($colorMainLight, 10%));
                @include stdFlex(column, nowrap);
                                        
                    list-style: none;
                    transform: translateX(-50%) translateY(102%);
                    position: absolute;
                    bottom: 0;
                    left: 50%;

                    background-color: $colorMainLight;
                    gap: 10px;
                    padding: $paddingMedium $paddingSmall;
                    width: 280px;

                }
            }
        }
    }

    .info {

        .desktop {
        @include stdTransition();

            background: $colorPrimary;
            border: none;
            border-radius: $radiusMax;
            color: lighten($colorMainLight, 10%);
            font-weight: 600;
            padding: $paddingMedium $paddingBig;

            &:hover {
                
                background: lighten($colorPrimary, 10%);
                box-shadow: 0 0 25px -10px $colorSecondary;
            }
        }

        .mobile {

            position: relative;

            border: none;
            height: 42px;
            width: 42px;

            &::before, &::after {
            @include stdTransition();

                content: "";
                position: absolute;
                top: 50%;
                left: 0;

                background: $colorFont;
                border-radius: $radiusMax;
                height: 4px;
                width: 100%;
            }

            &::before {
                box-shadow: 0 14px $colorFont;
            }

            &::after {
                box-shadow: 0 -14px $colorFont;
            }

            &.active {

                &::before {
                    transform: rotate(45deg);
                    box-shadow: 0 0 transparent;
                }
    
                &::after {
                    transform: rotate(-45deg);
                    box-shadow: 0 0 transparent;
                }
            }
        }
    }
}
    
/*   *   *   *   *   *   *   *   *   *   *   *   *   *   *   *   *   *   *   *   */
/*  Breakpoints */
    
 @media (max-width: 1199px) {
    
    header.page-menu {

        flex-wrap: wrap;
        padding: 0 5vw;

        .navi {
        @include stdFlex(column, nowrap);
        @include stdTransition();
        gap: 15px;

            width: 100%;
            height: 100%;
            position: fixed;
            left: 0;
            top: 0;


            background: white;
            padding: 8vh $paddingSmall;
            transform: scale(0);
            opacity: 0;

            &.active {
                transform: scale(1);
                opacity: 1;
            }
        
            .links {
                
                flex-direction: column;
                font-size: x-large;
                font-weight: 300;

                li {
                    margin: 2vw;
                }

                a.active {font-weight: 600;}
            }
        }


        .info .mobile {display: block;}
        .info .desktop {display: none;}
    }
    
}
    
/*   *   *   *   *   *   *   *   *   *   */
    
@media (min-width: 1200px) {
    
    header.page-menu {

        padding: $paddingMedium 5vw;

        .navi .links {
        @include stdFlex(row, nowrap, space-between);
        
            list-style: none;
            font-size: large;
            font-weight: 600;
        
            li {margin: 0 2vw;}
        
            a {
            @include stdTransition();
        
                &:hover {color: lighten($colorSecondary, 5%);}
                &.active {
                    
                    position: relative;

                    &::before, &::after {
                        content: "";
                        height: 28px;
                        width: 28px;

                        position: absolute;
                        border: $borderThick solid $colorPrimary;
                        top: 50%;
                    }

                    &::before {
                        left: 0;
                        transform: translateX(-50%) translateY(-35%);
                        border-right-color: transparent;
                        border-top-color: transparent;
                    }

                    &::after {
                        right: 0;
                        transform: translateX(50%) translateY(-65%);
                        border-bottom-color: transparent;
                        border-left-color: transparent;
                    }
                }
            }
        }

        .info .mobile {display: none;}
        .info .desktop {display: block;}
    }
    
}
    