.simple-card {
@include stdFlex(column, nowrap);
@include stdTransition();

    background: white;
    border-radius: $radiusBig;
    padding: $paddingMedium;
    margin: $marginBig 0;

    span {
    @include stdFlex(row, nowrap, center);
    
        height: 124px;
        overflow: hidden;
        padding: $paddingBig;
        width: 124px;
    }

    img {
    @include stdTransition();

        height: 92px;
        margin: $marginSmall;
        width: 92px;
    }

    h3 {
    @include stdTransition();
    
        font-size: 28px;
        margin: $marginMedium;
    }
    
    p {
        font-size: larger;
        padding: $paddingSmall;
        text-align: center;
    }
    
    &:hover {

        box-shadow: 0 0 20px -5px $colorPrimary;
        img {transform: scale(1.2);}
        h3 {color: $colorPrimary;}
    }
}


.service-card {
@include stdFlex(column, nowrap);
@include stdTransition();

    background: white;
    border-radius: $radiusBig;
    padding: $paddingMedium;
    margin: $marginMedium 0;

    span {
    @include stdFlex(row, nowrap, center);
    @include stdTransition();

        background: $colorSecondary;
        border-radius: $radiusMax;
        height: 124px;
        overflow: hidden;
        padding: $paddingBig;
        width: 124px;
    }

    img {

        height: 80px;
        margin: $marginMedium;
        width: 80px;
    }

    h3 {
    @include stdTransition();

        font-size: 24px;
        margin: $marginMedium;
    }

    p {
        font-size: large;
        padding: $paddingSmall;
        text-align: center;
    }

    &:hover {
        box-shadow: 0 0 20px -5px $colorSecondary;

        span {background: lighten($colorSecondary, 10%);}
        svg {color: white;}
        h3 {color: $colorSecondary;}
    }
}


/*   *   *   *   *   *   *   *   *   *   *   *   *   *   *   *   *   *   *   *   */
/*  Breakpoints */

@media (max-width: 767px) {

    .simple-card {flex-basis: 100%;}
    .service-card {flex-basis: 100%;}

}

/*   *   *   *   *   *   *   *   *   *   */

@media (min-width: 768px) and (max-width: 991px) {

    .simple-card {flex-basis: 48%;}
    .service-card {flex-basis: 48%;}

}

@media (min-width: 992px) {

    .simple-card {flex-basis: 49%;}
    .service-card {flex-basis: 31%;}

}