article.offer {
@include stdFlex(column, nowrap);

    gap: 50px;
    margin: $marginBig;
    padding: $paddingSmall;
    max-width: 1400px;

    .title {
        position: relative;

        span {
            min-width: 260px;
            position: absolute;
            left: 50%;
            top: -50%;
            transform: translateX(-50%);

            font-size: 16px;
            color: $colorSecondary;

            &::before, &::after {
                content: "";
                position: absolute;
                top: 50%;

                background: $colorSecondary;
                border-radius: $radiusMax;
                height: 8px;
                width: 8px;
            }

            &::before {
                left: 0;
                transform: translateX(-50%) translateY(-50%);
            }

            &::after {
                right: 0;
                transform: translateX(50%) translateY(-50%);
            }
        }
    }

    .entry {
    @include stdFlex(row, wrap, space-around, stretch);
    gap: 10px;

        .elem {
            min-height: 200px;
            border-radius: $radiusBig;
            padding: $paddingBig $paddingSmall;
            overflow: hidden;
            position: relative;
        }

        h2 {
            font-size: 42px;
            font-weight: 300;
        }

        p {
        @include stdText();

            font-size: 20px;
            font-weight: 300;
        }

        img {
            position: absolute;
            left: 50%;
            top: 50%;

            width: 100%;
            height: auto;
            transform: translateX(-50%) translateY(-50%);
        }
    }

    .services {
    @include stdFlex(column, nowrap);
    gap: 30px;

        .title {
            font-size: 36px;
            letter-spacing: 2px;
            text-align: center;
        }

        .list {
        @include stdFlex(row, wrap, space-around, stretch);

            gap: 30px;
            list-style: none;

            li {
            @include stdFlex(column, nowrap, center);
            @include stdTransition(all, ease-in-out, 0.2s);

                background-color: rgba(#fbb034, 0);
                background-image: linear-gradient(315deg, rgba(#fbb034, 0) 0%, rgba(#ffdd00, 0) 74%);
                box-shadow: 2px 2px 15px -5px $colorSecondary;

                flex-grow: 1;
                border-radius: $radiusBig;
                color: $colorSecondary;
                font-size: 28px;
                font-weight: 600;
                text-align: center;
                text-shadow: 0 0 0 $colorSecondary;
                padding: $paddingMedium;
                position: relative;

                span {
                @include stdTransition();

                    position: absolute;
                    bottom: 0;
                    right: 0;

                    font-size: 44px;
                    font-weight: 700;
                    text-shadow: none;
                    padding: 0 $paddingBig;
                    opacity: 0.4;
                }

                &:hover {
                    background-color: rgba(#fbb034, 0.5);
                    background-image: linear-gradient(315deg, rgba(#fbb034, 1) 0%, rgba(#ffdd00, 1) 74%);
                    box-shadow: -3px -3px 15px -2px $colorPrimary;

                    color: white;
                    text-shadow: 0 0 20px $colorSecondary;


                    span {
                        text-shadow: none;
                        color: $colorSecondary;
                        opacity: 0.9;
                    }
                }
            }
        }
    }

    .quality {
    @include stdFlex(column, nowrap, space-around);
    gap: 30px;

        .title {
            font-size: 36px;
            letter-spacing: 2px;
            text-align: center;
        }

        .list {
        @include stdFlex(row, wrap, space-around, stretch);

            gap: 10px;
            list-style: none;

            li {
            @include stdFlex(column, nowrap, space-between);

                min-height: 180px;
                color: $colorSecondary;
                font-size: x-large;
                font-weight: 600;
                text-align: center;
                margin: $marginMedium 0;
                padding: $paddingMedium;
                position: relative;

                span {flex-grow: 1;}

                svg {
                    background: $colorSecondary;
                    border-radius: $radiusMax;
                    color: white;
                    font-size: 56px;
                    padding: $paddingMedium;
                }
            }
        }
    }

    .price {
    @include stdFlex(column, nowrap);
    gap: 30px;
    
        .title {
            font-size: 36px;
            letter-spacing: 2px;
            text-align: center;
        }
    
        .list {
        @include stdFlex(row, wrap, space-around, stretch);
    
            gap: 30px;
            list-style: none;
            
            li {
            @include stdBorder(lighten($colorSecondary, 20%), $radiusBig);
            @include stdTransition();

                flex-grow: 1;
                box-shadow: 0 0 10px -2px $colorSecondary;
                background: $colorMainLight;
                padding: 40px 0;

                h3 {
                @include stdFlex(row, nowrap, space-between);
                @include stdTransition();

                    width: 80%;
                    border-top-right-radius: $radiusMax;
                    border-bottom-right-radius: $radiusMax;

                    color: white;
                    font-weight: 700;
                    letter-spacing: 1px;
                    text-shadow: 0 0 5px $colorSecondary;
                    padding: $paddingSmall $paddingMedium;


                    background-color: #eec0c6;
                    background-image: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%);

                    &.__1 {
                        background-color: #f2cf07;
                        background-image: linear-gradient(315deg, #f2cf07 0%, #55d284 74%);
                    }

                    &.__2 {
                        background-color: #045de9;
                        background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
                    }

                    &.__3 {
                        background-color: #fce043;
                        background-image: linear-gradient(315deg, #fce043 0%, #fb7ba2 74%);
                    }

                    a {
                    @include stdFlex(column, nowrap, center);
                    @include stdTransition();
                    
                        border-radius: $radiusMax;
                        background: white;
                        height: 40px;
                        width: 40px;

                        &:hover {color: $colorPrimary;}
                    }
                }

                &:hover {

                    box-shadow: 0 0 15px -2px $colorPrimary;
                    border-color: $colorPrimary;

                    h3 {
                        text-shadow: 0 0 5px $colorPrimary;
                        color: $colorPrimary
                    };
                }
            }

            .subList {
            @include stdFlex(column, nowrap, flex-start, stretch);
            
                gap: 10px;
                list-style: none;
                min-width: 240px;

                li {
                    border: none;
                    box-shadow: none;
                    padding: $paddingSmall $paddingMedium;

                    font-size: 18px;
                    text-align: left;
                }
            }
        }
    }
}

/*   *   *   *   *   *   *   *   *   *   *   *   *   *   *   *   *   *   *   *   */
/*  Breakpoints */


/*   *   *   *   *   *   *   *   *   *   */

@media (max-width: 767px) {
    article.offer {

        .entry {
            .elem {flex-basis: 98%;}
        }

        .services {
            .list {
                li {
                    min-height: 180px;
                    flex-basis: 98%;
                }
            }
        }

        .quality {
            .list {
                li {flex-basis: 90%;}
            }
        }

        .price {
            .list {
                li {flex-basis: 98%;}
            }
        }
    }
}

/*   *   *   *   *   *   *   *   *   *   */

@media (min-width: 768px) and (max-width: 991px) {
    article.offer {

        .entry {
            .elem {flex-basis: 70%;}
        }

        .services {
            .list {
                li {
                    min-height: 150px;
                    flex-basis: 70%;
                }
            }
        }

        .quality {
            .list {
                li {flex-basis: 31%;}
            }
        }

        .price {
            .list {
                li {flex-basis: 70%;}
            }
        }
    }
}

/*   *   *   *   *   *   *   *   *   *   */

@media (min-width: 992px) {
    article.offer {

        .entry {
            .elem {
            &.text {flex-basis: 60%;}
            &.img {flex-basis: 38%;}
            }
        }

        .services {
            .list {
                li {
                    min-height: 220px;
                    flex-basis: 48%;
                }
            }
        }

        .quality {
            .list {
                li {flex-basis: 30%;}
            }
        }

        .price {
            .list {
                li {flex-basis: 30%;}
            }
        }
    }
}

