article.offer {

    margin: $marginBig;

    .list {

        img {
            background: $colorSecondary;
            border-radius: $radiusBig;
            padding: $paddingBig;
        }
    }
}