@import 'common';

/*   *   *   *   *   *   *   *   *   *   *   *   *   *   *   *   *   *   *   *   */

* {
    background: transparent;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    font-size: medium;
    font-weight: 300;
    color: $colorFont;
}

a:link      {color: $colorFont; text-decoration: none;}
a:visited   {color: $colorFont; text-decoration: none;}
a:active    {color: $colorFont; text-decoration: none;}
a:hover     {color: $colorFont; text-decoration: none;}

/*   *   *   *   *   *   *   *   *   *   *   *   *   *   *   *   *   *   *   *   */
/*  Layout      */



/*   *   *   *   *   *   *   *   *   *   *   *   *   *   *   *   *   *   *   *   */
/*  Components  */
