@import 'common';

/*   *   *   *   *   *   *   *   *   *   *   *   *   *   *   *   *   *   *   *   */

* {
    background: transparent;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    font-size: medium;
    font-weight: 300;
    color: $colorFont;

    background-image: url('../img/background.png');
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

a:link      {color: $colorFont; text-decoration: none;}
a:visited   {color: $colorFont; text-decoration: none;}
a:active    {color: $colorFont; text-decoration: none;}
a:hover     {color: $colorFont; text-decoration: none;}

main {
@include stdFlex(column, nowrap);

    min-height: 100vh
}


/*   *   *   *   *   *   *   *   *   *   *   *   *   *   *   *   *   *   *   *   */
/*  Components  */

@import 'component/infoBanner';

@import 'component/pageMenu';

@import 'component/pageBanner';

@import 'component/simpleCard';

@import 'component/pageFooter';


/*   *   *   *   *   *   *   *   *   *   *   *   *   *   *   *   *   *   *   *   */
/*  Layout      */

@import 'layout/home';